// Fonts abasalon, the vanguard and open sans
@import url('https://fonts.cdnfonts.com/css/abasalom');
@import url('https://fonts.cdnfonts.com/css/the-vanguard');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');


$font-abasalom: 'abasalom', sans-serif;
$font-vanguard: 'The Vanguard', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;