@import '../../assets/sass/fonts.scss';
@import '../../assets/sass/variables.scss';

@mixin sectionContainer(){
    max-width: 1280px;
    width: 100%;
    padding: 0 1rem;
    margin: 2rem auto;
    @media screen and (max-width: 768px){
        margin: .5rem auto;
    }
}

@mixin sectionTitle(){
    font-family: $font-vanguard;
    color: $color-gray-1;
    font-size: 2.5rem;
    line-height: 4.2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 1.5rem;
    position: relative;
    width: fit-content;
    @media screen and (max-width: 768px){
        font-size: 2rem;
        line-height: 3.2rem;
    }

    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 160px;
        height: 20px;
        background: url('../../assets/img/title-underline.svg') no-repeat left center / contain;
        @media screen and (max-width: 768px){
            width: 140px;
        }
    }
}