@import '../../assets/sass/fonts.scss';

@mixin sectionContainer(){
    max-width: 1280px;
    width: 100%;
    padding: 0 1rem;
    margin: 2rem auto;
    @media screen and (max-width: 768px){
        margin: 1.5rem auto;
    }
}

@mixin sectionTitle(){
    font-family: $font-vanguard;
    color: $color-gray-1;
    font-size: 2.5rem;
    line-height: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}