
$white: #FFFFFF;
$white20: transparentize($white, .8);
$white80: transparentize($white, .2);
$dark-1: #121212;
$dark-2: #202020;
$dark-3: #1A1A1A;
$gray-1: #404040;
$gray-2: #4B4B4B;
$gray-3: #313131;
$gray-4: #303030;
$gray-5: #424242;
$gray-6: #6F6F6F;
$gray-7: #7A7A7A;
$gray-8: #858585;
$gray-9: #737882;
$gray-10: #636363;
$gray-11: #9C9C9C;
$gray-12: #A0A0A0;
$gray-13: #9B9B9B;
$gray-14: #AEAEAE;
$gray-15: #AFAFAF;
$gray-16: #CCCCCC;
$gray-17: #F9F9F9;
$gray-18: #D6D6D6;
$gray-19: #E3E3E3;
$gray-20: #D1D1D1;
$gray-21: #EDEDED;
$gray-22: #B6B6B6;
$gray-23: #BBC2CF;
$gray-24: #C1C1C1;
$gray-25: #DCDCDC;
$gray-26: #E0E0E0;
$gray-27: #E1E1E1;
$gray-28: #E4E4E4;
$gray-29: #F1F1F1;
$gray-30: #F8F8F8;
$gray-31: #F3F3F3;



