
$color-white: #FFFFFF;
$color-white20: transparentize($color-white, .8);
$color-white80: transparentize($color-white, .2);
$color-dark-1: #121212;
$color-dark-2: #202020;
$color-dark-3: #1A1A1A;
$color-gray-1: #404040;
$color-gray-2: #4B4B4B;
$color-gray-3: #313131;
$color-gray-4: #303030;
$color-gray-5: #424242;
$color-gray-6: #6F6F6F;
$color-gray-7: #7A7A7A;
$color-gray-8: #858585;
$color-gray-9: #737882;
$color-gray-10: #636363;
$color-gray-11: #9C9C9C;
$color-gray-12: #A0A0A0;
$color-gray-13: #9B9B9B;
$color-gray-14: #AEAEAE;
$color-gray-15: #AFAFAF;
$color-gray-16: #CCCCCC;
$color-gray-17: #F9F9F9;
$color-gray-18: #D6D6D6;
$color-gray-19: #E3E3E3;
$color-gray-20: #D1D1D1;
$color-gray-21: #EDEDED;
$color-gray-22: #B6B6B6;
$color-gray-23: #BBC2CF;
$color-gray-24: #C1C1C1;
$color-gray-25: #DCDCDC;
$color-gray-26: #E0E0E0;
$color-gray-27: #E1E1E1;
$color-gray-28: #E4E4E4;
$color-gray-29: #F1F1F1;
$color-gray-30: #F8F8F8;
$color-gray-31: #F3F3F3;
$color-gray-bg: #D9D9D9;



