@import '../../assets/sass/fonts.scss';
@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

.techs__section-container{
    @include sectionContainer;
}

.techs__section-title{
    @include sectionTitle;
    &::after{
        background: url('../../assets/img/tech-title-underline.svg') no-repeat left center / contain;
    }
}

.techs__section{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.techs__section-texts{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 1;
    max-width: 58%;
}

.techs__text{
    font-size: 1.25rem;
    font-family: $font-opensans;
    color: $color-dark-2;
    strong{
        color: $color-dark-1;
        font-weight: 700;
    }
}

.techs__section-icons{
    background: url('../../assets/img/techs-animation-bg.svg') no-repeat center center / contain;
    width: 28%;
    height: 350px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.tech__icons-name{
    position: absolute;
    top: 2.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.8rem;
    font-family: $font-vanguard;
    font-weight: 500;
    color: $color-white;
    gap: .5rem;
}

.techs__section-icons-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: max-content;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0 7rem;
    img{
        scroll-snap-align: center;
        width: 140px;
        height: 140px;
    }
}