@import "../../assets/sass/fonts.scss";
@import "../../assets/sass/mixins.scss";
@import "../../assets/sass/variables.scss";


.navbar__section-container{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}


.navbar__section {
  font-family: $font-abasalom;
  @include sectionContainer;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 2rem 1rem 1rem;  
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    padding: 1rem 1rem .5rem;
  }
}

.brandlogo__figure {
  max-width: 180px;
  @media screen and (max-width: 768px) {
    max-width: 150px;
  }
  cursor: url('../../assets/img/page-cursor-pointer.svg'), pointer;

}

.navbar__container {
  position: relative;
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: 768px) {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    padding: 8rem 0;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background: $color-dark-3;
    color: $color-white;
    transform: translateX(100%);
    z-index: 100;
  }

  &.-active {
    transform: translateX(0);
    z-index: 100;
  }
}

.navbar__list {
  display: flex;
  gap: 1.5rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.navbar__item {
  font-size: 1.8rem;
  z-index: 10;
  position: relative;
  a{
    cursor: url('../../assets/img/page-cursor-pointer.svg'), pointer;
  }
  @media screen and (max-width: 768px) {
    font-size: 2rem;
    text-align: center;
  }
  ::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 6px;
    background: url(../../assets/img/nav-item-underline.svg) no-repeat center
      top / cover;
    transition: width 0.2s ease-in-out;
    @media screen and (max-width: 768px) {
      filter: invert(1);
    }
  }

  &:hover {
    ::after {
      width: 100%;
    }
  }
}

.configs__tooltip-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: absolute;
  right: -5px;
  top: -40px;
  z-index: 0;
  &.-active {
    z-index: 11;
    .configs__tooltip-icon {
      transform: rotate(-45deg);
    }
    .configs__tooltip-text {
      opacity: 1;
      visibility: visible;
    }
  }
  @media screen and (max-width: 768px) {
    position: relative;
    right: 0;
    top: 0;
  }
}

.configs__tooltip-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-direction: row-reverse;
  &:hover {
    .configs__tooltip-icon {
      transform: rotate(-45deg);
    }
    .configs__tooltip-text {
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (max-width: 768px) {
    .configs__tooltip-text {
      opacity: 1;
      visibility: visible;
    }
  }
}

.configs__tooltip-text {
  opacity: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 1.2rem;
  color: $color-white;
  background: $color-gray-1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.configs__tooltip-icon {
  @media screen and (max-width: 768px) {
    filter: invert(1);
  }
  cursor: pointer;
  width: 22px;
  transition: all 0.3s ease-in-out;
}

.configs__tooltip-body {
  background: $color-gray-1;
  color: $color-white;
  padding: 0.5rem;
  border-radius: 5px 0 5px 5px;
  margin: 0 0.2rem 0 0;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .2rem;

  .config__idiom-option{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 1.4rem;
    width: 100%;
    padding: .25rem .4rem;
    background: $color-dark-1;
    border-radius: 3px;
    img{
      height: 30px;
    }
    &:hover{
      filter: brightness(.95);
    }
    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
        img{
          height: 25px;
        }
      }
  }

  &.-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 11;
  }
}

.mobile__menu-container {
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: flex;
    z-index: 110;
  }
  display: none;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 2px;
  img {
    width: 35px;
  }
  .mobile__menu-line1 {
    transition: all 0.2s ease-in-out;
    width: 35px;
  }
  .mobile__menu-line2 {
    transition: all 0.2s ease-in-out;
    width: 30px;
  }
  .mobile__menu-line3 {
    transition: all 0.2s ease-in-out;
    width: 25px;
  }

  &.-active {
    filter: invert(1);
    .mobile__menu-line1 {
      transform: rotate(45deg) translate(5px, 7px);
      width: 35px;
    }
    .mobile__menu-line2 {
      opacity: 0;
    }
    .mobile__menu-line3 {
      width: 35px;
      transform: rotate(-45deg) translate(5px, -5px);
    }
    position: fixed;
    top: 30px;
    right: 15px;
  }
}
