@import '../../assets/sass/fonts.scss';
@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

.projects__section-container{
    @include sectionContainer;
    &::before{
        position: absolute;
        content: '';
        top: 40%;
        left: -3%;
        z-index: -1;
        width: 106%;
        height: 95px;
        background: url('../../assets/img/projects-section-bg-slash.svg') no-repeat center center / cover;
        @media screen and (max-width: 1290px) {
            left: 0;
            width: 100%;
            height: 80px;
        }
        @media screen and (max-width: 1040px) {
            height: 70px;
        }
        @media screen and (max-width: 840px) {
            height: 50px;
        }
        @media screen and (max-width: 600px) {
            height: 35px;
        }
        @media screen and (max-width: 490px) {
            height: 30px;
        }
        @media screen and (max-width: 430px) {
            height: 25px;
        }

        @media screen and (max-width: 350px) {
            height: 20px;
        }

    }
}

.projects__section-title{
    @include sectionTitle;
    &::after{
        background: url('../../assets/img/projects-title-underline.svg') no-repeat left center / contain;
        @media screen and (max-width: 768px){
            width: 110px;
        }
    }
}

.projects__section{
    min-height: 100px;
    display: grid;
    place-items: center;

    h3{
        font-family: $font-abasalom;
        font-size: 3rem;
        font-weight: 800;
        color: $color-gray-6;
    }
}