@import '../../assets/sass/fonts.scss';
@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

.projects__section-container{
    @include sectionContainer;
    &::before{
        position: absolute;
        content: '';
        top: 40%;
        left: -3%;
        width: 106%;
        height: 95px;
        background: url('../../assets/img/projects-section-bg-slash.svg') no-repeat center center / cover;
    }
}

.projects__section-title{
    @include sectionTitle;
    &::after{
        background: url('../../assets/img/projects-title-underline.svg') no-repeat left center / contain;
        @media screen and (max-width: 768px){
            width: 110px;
        }
    }
}

.projects__section{
    
}