@import '../../assets/sass/fonts.scss';
@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

.experiences__section-container{
    @include sectionContainer;
}

.experinces__section-title{
    @include sectionTitle;
}

.experiences__section{
    
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px){
        flex-direction: column-reverse;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 3rem;
    }
}

.experiences__section-texts{
    width: 50%;
    max-width: 600px;
    display: flex;
    gap: 1rem;
    max-height: 400px;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    @media screen and (max-width: 1068px){
        max-height: 280px;
    }
    @media screen and (max-width: 768px){
        width: 100%;
        max-width: 100%;
        max-height: 450px;
    }
}


.companies__images-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    width: 500px;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        width: calc(100% + 40px);
        height: 100%;
        top: 0;
        left: -20px;
        background: url('/companies-brands-filter.png') no-repeat center center / cover;
    }

    @media screen and (max-width: 1068px){
        width: 350px;
    }
    @media screen and (max-width: 768px){
        width: 100%;
    }
}

.companies__images-item {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 5px;
    transition: transform .3s ease-in-out;
    @media screen and (max-width: 1068px){
        height: 68px;
    }
    @media screen and (max-width: 768px){
        height: 50px;
    }
}

.companies__images-item:nth-child(1) {
    animation: reorganize__item1 30s infinite;
}

.companies__images-item:nth-child(2) {
    animation: reorganize__item2 30s infinite;
}

.companies__images-item:nth-child(3) {
    animation: reorganize__item3 30s infinite;
}

.companies__images-item:nth-child(4) {
    animation: reorganize__item4 30s infinite;
}

.companies__images-item:nth-child(5) {
    animation: reorganize__item5 30s infinite;
}

.companies__images-item:nth-child(6) {
    animation: reorganize__item6 30s infinite;
}

.companies__images-item:nth-child(7) {
    animation: reorganize__item7 30s infinite;
}

.companies__images-item:nth-child(8) {
    animation: reorganize__item8 30s infinite;
}

.companies__images-item:nth-child(9) {
    animation: reorganize__item9 30s infinite;
}

.companies__images-item:nth-child(10) {
    animation: reorganize__item10 30s infinite;
}

.companies__images-item:nth-child(11) {
    animation: reorganize__item11 30s infinite;
}

.companies__images-item:nth-child(12) {
    animation: reorganize__item12 30s infinite;
}


@keyframes reorganize__item1 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(108%, 0);
    }
    30%{
        transform: translate(108%, 0);
    }
    32% {
        transform: translate(216%, 0);
    }
    46%{
        transform: translate(216%, 0);
    }
    48% {
        transform: translate(216%, 116%);
    }
    62% {
        transform: translate(216%, 116%);
    }
    64% {
        transform: translate(108%, 116%);
    }
    78% {
        transform: translate(108%, 116%);
    }
    80% {
        transform: translate(0, 116%);
    }
    98%{
        transform: translate(0, 116%);
    }
}

@keyframes reorganize__item2 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(108%, 0);
    }
    30%{
        transform: translate(108%, 0);
    }
    32% {
        transform: translate(108%, 116%);
    }
    46%{
        transform: translate(108%, 116%);
    }
    48% {
        transform: translate(0, 116%);
    }
    62% {
        transform: translate(0, 116%);
    }
    64% {
        transform: translate(-108%, 116%);
    }
    78% {
        transform: translate(-108%, 116%);
    }
    80% {
        transform: translate(-108%, 0);
    }
    98%{
        transform: translate(-108%, 0);
    }
}

@keyframes reorganize__item3 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(0, 116%);
    }
    30%{
        transform: translate(0, 116%);
    }
    32% {
        transform: translate(-108%, 116%);
    }
    46%{
        transform: translate(-108%, 116%);
    }
    48% {
        transform: translate(-216%, 116%);
    }
    62% {
        transform: translate(-216%, 116%);
    }
    64% {
        transform: translate(-216%, 0);
    }
    78% {
        transform: translate(-216%, 0);
    }
    80% {
        transform: translate(-108%, 0);
    }
    98%{
        transform: translate(-108%, 0);
    }
}


@keyframes reorganize__item4 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(0, -116%);
    }
    30%{
        transform: translate(0, -116%);
    }
    32% {
        transform: translate(108%, -116%);
    }
    46%{
        transform: translate(108%, -116%);
    }
    48% {
        transform: translate(216%, -116%);
    }
    62% {
        transform: translate(216%, -116%);
    }
    64% {
        transform: translate(216%, 0);
    }
    78% {
        transform: translate(216%, 0);
    }
    80% {
        transform: translate(108%, 0);
    }
    98%{
        transform: translate(108%, 0);
    }
}


@keyframes reorganize__item5 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(-108%, 0);
    }
    30%{
        transform: translate(-108%, 0);
    }
    32% {
        transform: translate(-108%, -116%);
    }
    46%{
        transform: translate(-108%, -116%);
    }
    48% {
        transform: translate(0, -116%);
    }
    62% {
        transform: translate(0, -116%);
    }
    64% {
        transform: translate(108%, -116%);
    }
    78% {
        transform: translate(108%, -116%);
    }
    80% {
        transform: translate(108%, 0);
    }
    98%{
        transform: translate(108%, 0);
    }
}

@keyframes reorganize__item6 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(-108%, 0);
    }
    30%{
        transform: translate(-108%, 0);
    }
    32% {
        transform: translate(-216%, 0);
    }
    46%{
        transform: translate(-216%, 0);
    }
    48% {
        transform: translate(-216%, -116%);
    }
    62% {
        transform: translate(-216%, -116%);
    }
    64% {
        transform: translate(-108%, -116%);
    }
    78% {
        transform: translate(-108%, -116%);
    }
    80% {
        transform: translate(0, -116%);
    }
    98%{
        transform: translate(0, -116%);
    }
}

@keyframes reorganize__item7 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(108%, 0);
    }
    30%{
        transform: translate(108%, 0);
    }
    32% {
        transform: translate(216%, 0);
    }
    46%{
        transform: translate(216%, 0);
    }
    48% {
        transform: translate(216%, 116%);
    }
    62% {
        transform: translate(216%, 116%);
    }
    64% {
        transform: translate(108%, 116%);
    }
    78% {
        transform: translate(108%, 116%);
    }
    80% {
        transform: translate(0, 116%);
    }
    98%{
        transform: translate(0, 116%);
    }
}

@keyframes reorganize__item8 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(108%, 0);
    }
    30%{
        transform: translate(108%, 0);
    }
    32% {
        transform: translate(108%, 116%);
    }
    46%{
        transform: translate(108%, 116%);
    }
    48% {
        transform: translate(0, 116%);
    }
    62% {
        transform: translate(0, 116%);
    }
    64% {
        transform: translate(-108%, 116%);
    }
    78% {
        transform: translate(-108%, 116%);
    }
    80% {
        transform: translate(-108%, 0);
    }
    98%{
        transform: translate(-108%, 0);
    }
}

@keyframes reorganize__item9 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(0, 116%);
    }
    30%{
        transform: translate(0, 116%);
    }
    32% {
        transform: translate(-108%, 116%);
    }
    46%{
        transform: translate(-108%, 116%);
    }
    48% {
        transform: translate(-216%, 116%);
    }
    62% {
        transform: translate(-216%, 116%);
    }
    64% {
        transform: translate(-216%, 0);
    }
    78% {
        transform: translate(-216%, 0);
    }
    80% {
        transform: translate(-108%, 0);
    }
    98%{
        transform: translate(-108%, 0);
    }
}


@keyframes reorganize__item10 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(0, -116%);
    }
    30%{
        transform: translate(0, -116%);
    }
    32% {
        transform: translate(108%, -116%);
    }
    46%{
        transform: translate(108%, -116%);
    }
    48% {
        transform: translate(216%, -116%);
    }
    62% {
        transform: translate(216%, -116%);
    }
    64% {
        transform: translate(216%, 0);
    }
    78% {
        transform: translate(216%, 0);
    }
    80% {
        transform: translate(108%, 0);
    }
    98%{
        transform: translate(108%, 0);
    }
}


@keyframes reorganize__item11 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(-108%, 0);
    }
    30%{
        transform: translate(-108%, 0);
    }
    32% {
        transform: translate(-108%, -116%);
    }
    46%{
        transform: translate(-108%, -116%);
    }
    48% {
        transform: translate(0, -116%);
    }
    62% {
        transform: translate(0, -116%);
    }
    64% {
        transform: translate(108%, -116%);
    }
    78% {
        transform: translate(108%, -116%);
    }
    80% {
        transform: translate(108%, 0);
    }
    98%{
        transform: translate(108%, 0);
    }
}

@keyframes reorganize__item12 {
    0%, 100% {
        transform: translate(0, 0);
    }
    14%{
        transform: translate(0, 0);
    }
    16% {
        transform: translate(-108%, 0);
    }
    30%{
        transform: translate(-108%, 0);
    }
    32% {
        transform: translate(-216%, 0);
    }
    46%{
        transform: translate(-216%, 0);
    }
    48% {
        transform: translate(-216%, -116%);
    }
    62% {
        transform: translate(-216%, -116%);
    }
    64% {
        transform: translate(-108%, -116%);
    }
    78% {
        transform: translate(-108%, -116%);
    }
    80% {
        transform: translate(0, -116%);
    }
    98%{
        transform: translate(0, -116%);
    }
}


.scroll__arrow{
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;

    &.-up{
        top: 0px;
    }
    &.-down{
        bottom: 0px;
        transform: rotate(180deg);
    }

}

.mui__bg-icon{
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.node__bg-icon{
    position: absolute;
    width: 20px;
    top: -20px;
    left: 5px;
}

.mysql__bg-illustration{
    position: absolute;
    right: -50px;
    height: 180px;
    bottom: -220px;
    @media screen and (max-width: 768px){
        right: -20px;
        height: 120px;
        bottom: -120px;
    }
}