@import '../../assets/sass/variables.scss';
@import '../../assets/sass/fonts.scss';
@import '../../assets/sass/mixins.scss';

.footer__section-container{
    width: 100%;
    background: $color-dark-3;
    padding: 3rem 0 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__section{
    @include sectionContainer;
    margin: 0 auto;
    min-height: 200px
}

.gitlab__footer-icon{
    position: absolute;
    top: -98px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    @media screen and (max-width: 768px) {
        top: -105px;
    }
}

.footer__section-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer__socials{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
}

.footer__socials-text{
    color: $color-white;
    font-family: $font-opensans;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer__socials-icons{
    display: flex;
    gap: 1rem;
    a{
        img{
            width: 30px;
        }
    }
    img{
        width: 20px;
    }
}

.footer_brand{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img{
        width: 180px;
    }
}

.footer__brand-text{
    width: 260px;
    font-size: 1.1rem;
    font-weight: 100;
    color: $color-white;
    font-family: $font-nunito;
}

.footer__credits{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__credits-text{
    color: $color-white;
    font-size: 1.1rem;
    margin-top: 2rem;
    position: relative;
}

.node__footer-icon{
    position: absolute;
    right: -40px;
    top: -20px;
    opacity: .8;
}

.sql__footer-icon{
    position: absolute;
    left: 100px;
    bottom: -45px;
    height: 180px;
    opacity: .8;
}

.github__credits-icon1{
    position: absolute;
    left: -20px;
    top: -30px;
    transform: rotate(-30deg);
    width: 20px;
    opacity: .8;
}

.github__credits-icon2{
    position: absolute;
    left: -20px;
    bottom: -30px;
    transform: rotate(30deg);
    width: 20px;
    opacity: .8;
}

.github__credits-icon3{
    position: absolute;
    right: -20px;
    top: -30px;
    transform: rotate(30deg);
    width: 20px;
    opacity: .8;
}

.github__credits-icon4{
    position: absolute;
    right: -20px;
    bottom: -30px;
    transform: rotate(-30deg);
    width: 20px;
    opacity: .8;
}



@media screen and (max-width: 768px){
    .footer__section-info{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .footer__section{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .footer__socials{
        align-items: center;
    }
    .footer_brand{
        align-items: center;
    }
    .footer__brand-text{
        width: 90%;
        max-width: 400px;
        text-align: center;
    }
    .sql__footer-icon{
        height: 100px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        bottom: -120px;
    }
}